.body {
  font-family: Goldman;
  font-size: 16px;
  height: 100vh;
}

.padding-lr-20{
  padding: 0px 20px;
}

.font-57{
  font-size: 57px;
}

.container-login{
    padding: 20px 20px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.98);
    background-color: #dbe1de;
    border-radius: 16px;
    margin: 0px 750px;
}

.btn-large{
  padding: 10px 50px;
  font-size: 16px;
}

.m-t-30{
  margin-top: 30px;
}

.m-t-35{
  margin-top: 35px;
}

.m-t-60{
  margin-top: 60px;
}

.m-b-35{
  margin-bottom: 35px;
}

.color-1f0{
  color: #1431F0;
}