@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.App {
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Inter-Medium", "Inter", sans-serif;
}

.header {
  width: 100%;
  padding: 20px;
}

h1 {
    font-family: "Goldman", serif;
    color: #000000;
    font-size: 57px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
}

p {
  margin: 20px;
  justify-content: center;
}

.signup {
    overflow: visible;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.98);
    background-color: #d6d6d6;
    border-radius: 16px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  width: fit-content;
}

.btn {
  margin: 20px;
}

